<!DOCTYPE HTML>
<html>
		<head>
			<style>
				.TextWrap{float: right; margin: 10px;}
			</style>
		</head>

	<head>
		<link rel="stylesheet" href='/static/bootstrap.css' />

	</head>
	<body class="is-preload">

		<!--Navbar Code-->
		<nav class="navbar navbar-expand-lg navbar-dark bg-success">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor01">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item active">
			  <a class="nav-link" href="/">Home
				<span class="sr-only">(current)</span>
			  </a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="/about">About</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="/process">Process</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="/register">Register</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/login">Log In</a>
			  </li>
		  </ul>
		</div>
	  </nav>
	 {% block content %}
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
						<section class="intro"> 
						
						<header>
							<h1>Spotify Pick Me Up</h1>
							<h2>Let us pick some songs to suite you!</h2>
			
							<div class="container">
								<div class="row">
								  <div class="col-sm">
										<!--Possible Dropdown menu code-->
									
									</div>
								  </div>
								  <p>
								  <div class="col-sm">
									<img src="{{url_for('static', filename='pic02.jpg')}}" width="700" height="450" align="right"/>
								  </div>
								  </p>
								<p>
								
								</p>
						</header>
							<header>
								<div class="jumbotron" align="left">
									<h1 class="display-3">Predictify</h1>
									<p class="lead"><strong>Predicitify??</strong></p>
									<p>Try out the new Predictify App!  
										You select an *item* and you will be given <br> a predicted 
										playlist to compliment the choice.</p>
									<p class="lead">
									  <div class="btn-group" role="group" aria-label="Button group with nested dropdown" align="left">
										<button type="button" class="btn btn-success">Pick A Mood</button>
										<div class="btn-group" role="group">
										<button id="btnGroupDrop2" type="button" class="btn btn-success dropdown-toggle" 
										data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
										<div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
											<a class="dropdown-item" href="#">Dropdown link</a>
											<a class="dropdown-item" href="#">Dropdown link</a>
										</div>
										</div>
									</div>
								</div>
									</p>
								</div>
							</header>
						
						</div>
							
							<!--Other drop down code-->
					
					</section>

				<!-- Section -->
					<section id="first"></section>
				<!-- Section -->
					<section>
					
						<header>
							
							
						</header>
						<div class="content">
							<p>Predictify is brought to you by the students in DS20 and DS19 of Lambda School (</p>
						</div>
					</section>
			</div>
			{% endblock %}
		<!-- Scripts -->
			
			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
			crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" 
			integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" 
			crossorigin="anonymous"></script>
	</body>
</html>